.bannerIndex {
	height: 40rem;
	background-image: url(../img/banner.jpg);

}

.searchBar {
	width: 80%;
	border: 1px solid var(--gray);
	border-radius: 0.5rem;
	padding: 1rem;
}

.container {
	width: 98%;
	margin: auto;
}

@media (min-width: 480px) {
	.container {
		width: 94%;
	}
}

@media (min-width: 768px) {
	.container {
		width: 80%;
	}
}

.table {
	width: 100%;
	margin: auto;
	border-spacing: 0 2rem;
	
}


.label {
	padding: 1rem;
	background-color: var(--black);
	color: var(--white);
}

.row {
	border: 0.1rem solid var(--white);
	border-radius: 1rem;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.11);
	-moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.11);
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.11);
}

.row:nth-child(even) .cell {
	background-color: #f2f2f2;
}

.cell  {
	padding: 0.5rem;
	text-align: center;
	border: 0.1rem solid var(--gray);
}

.label:first-child {
	border-top-left-radius: 1rem;
}

.label:last-child {
	border-top-right-radius: 1rem;
}

.cell:first-child {
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.cell:last-child {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.available {
	font-weight: 700;
	color: var(--green);
}

.notAvailable {
	font-weight: 700;
	color: var(--red);
}