.bannerShow {
	height: 20rem;
	background-image: url(../img/banner2.jpg);
}

.bannerTitle {
	color: var(--white);
	margin: 2rem 0;
	text-align: center;
	font-size: 6rem;
}

.flight {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 2rem;
}

@media (min-width: 768px) {
	.flight {
		flex-direction: row;
	}
}

.flightContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.flightContent:first-child {
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.flightContent:last-child {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.flightArrival {
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

.flightDetails {
	border: 0.2rem solid var(--darkWhite);
	background-color: var(--white);
	padding: 1rem;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
	column-gap: 4rem;
}

.flightDetails:last-child {
	border: none;
}

.flightDetail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flightElement {
	margin-bottom: 1rem;
}

.flightDescription {
	margin: 0;
}

.flightWarning {
	display: flex;
	justify-content: center;
	font-weight: 700;
}

.notSigned {
	color: var(--yellow);
}

.notAvailable {
	color: var(--red);
}

.flightButton {
	border-radius: 1rem;
	padding: 1.5rem;
	font-weight: 700;
	color: var(--white);
}

.debook, .book {
	color: var(--white);
	background-color: var(--blue);
	transition: background-color 0.2s ease;
}

.debook:hover, .book:hover {
	background-color: #0073ff;
}